<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>ValuacionesApp</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/automoviles.js}"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.3/datatables.min.css" rel="stylesheet"/>
  <script src="https://cdn.datatables.net/v/dt/dt-1.13.3/datatables.min.js"></script>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container-fluid" style=" margin: 0 auto;">
      <h2 class="text-center">Valuaciones 2021 Automoviles</h2>

      <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
        role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <button id="btnMostrarOcultar" class="btn btn-primary">Filtros</button>
    </br></br>
  </hr>

  <div id="collapseDiv" class="collapse">
        <div id="filtros" class="p-3 mb-3 bg-light rounded">
          <h4 class="text-center">Filtros de Busqueda</h4>
          <div class="row my-2">
            <div class="col-md-3">
              <label for="filtroMarca"></label>
              <input type="text" class="form-control" id="filtroMarca" placeholder="Marca">
            </div>
            <div class="col-md-3">
              <label for="filtroDescripcion"></label>
              <input type="text" class="form-control" id="filtroDescripcion" placeholder="Descripción">
            </div>
            <div class="col-md-3">
              <label for="filtroTipo"></label>
              <input type="text" class="form-control" id="filtroTipo" placeholder="Tipo">
            </div>
            <div class="col-md-3 mt-3">
              <button id="btnCleanFilters" class="btn btn-info" >Limpiar</button>
            </div>
          </div>
        </div>
      </div>

      <div th:if="${automoviles.size() > 0}" style="padding: 1%; width: 99%; font-size: 13px;">
        <table class="table table-hover-highlight table-responsive-xl display compact"  id="tablaAutomoviles">
          <thead class="thead-light">
            <tr >
              <th scope="col">I/N</th>  
              <th scope="col">Marca</th>
              <th scope="col">Descripción</th>
              <th scope="col">Tipo</th>
              <th scope="col">2021</th>
              <th scope="col">2020</th>
              <th scope="col">2019</th>
              <th scope="col">2018</th>
              <th scope="col">2017</th>
              <th scope="col">2016</th>
              <th scope="col">2015</th>
              <th scope="col">2014</th>
              <th scope="col">2013</th>
              <th scope="col">2012</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="automovil : ${automoviles}" style="font-size: 13px;">
              <td>[[${automovil.origen}]]</td>
              <td>
                <span th:text="${automovil.marca}"></span></br>
                <img th:src="@{ /images/__${automovil.marca.toUpperCase().replace(' ','_')}__.JPEG}" 
                              onerror="this.onerror=null; this.src='/images/default_logo_car.jpg';"
                                                                                  class="marca-auto-img" />
              </td>
              <td>[[${automovil.descripcion}]]</td>
              <td>[[${automovil.tipo}]]</td>
              <td>
                <span th:if="${automovil.valor2021 == 0}">--</span>
                <span th:if="${automovil.valor2021 != 0}" th:text="'$'+${automovil.valor2021}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2020 == 0}">--</span>
                <span th:if="${automovil.valor2020 != 0}" th:text="'$'+${automovil.valor2020}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2019 == 0}">--</span>
                <span th:if="${automovil.valor2019 != 0}" th:text="'$'+${automovil.valor2019}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2018 == 0}">--</span>
                <span th:if="${automovil.valor2018 != 0}" th:text="'$'+${automovil.valor2018}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2017 == 0}">--</span>
                <span th:if="${automovil.valor2017 != 0}" th:text="'$'+${automovil.valor2017}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2016 == 0}">--</span>
                <span th:if="${automovil.valor2016 != 0}" th:text="'$'+${automovil.valor2016}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2015 == 0}">--</span>
                <span th:if="${automovil.valor2015 != 0}" th:text="'$'+${automovil.valor2015}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2014 == 0}">--</span>
                <span th:if="${automovil.valor2014 != 0}" th:text="'$'+${automovil.valor2014}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2013 == 0}">--</span>
                <span th:if="${automovil.valor2013 != 0}" th:text="'$'+${automovil.valor2013}"></span>
              </td>
              <td>
                <span th:if="${automovil.valor2012 == 0}">--</span>
                <span th:if="${automovil.valor2012 != 0}" th:text="'$'+${automovil.valor2012}"></span>
              </td>
            
            </tr>
          </tbody>
        </table>

      </div>

      <div class="" th:unless="${automoviles.size() > 0}">
        <span>No se encontraron datos!</span>
      </div>
    </div>

    <div class="modal fade text-center" id="confirmModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <span id="confirmText"></span>
          </div>

          <div class="modal-footer">
            <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script type="text/javascript">
      $(document).ready(function () {
        loadInit();
       });
    </script>

    </br></br></br></br>

  </body>

</html>